* {
    box-sizing: border-box;

}


html {
    background-color: #eeeeee;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 120vh;
}

.bar {
    grid-area: bar;
    background-color: black;
    color:black;
}
/* sidebar styling */
.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto-fill, minmax(30px,1fr));
    background-color: #07eefa;
    height:125%;

}

.sidebarItem {
    color:black;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 125%;
    margin-left: 10px;
    text-decoration: none;
}

.sidebarItem:hover {
    color: #fffb13;
}

.content {
    grid-area: content;
    margin-bottom: 30px;
    background-color: #eeeeee;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;

}

.menuicons{
    display: grid;
    grid-template-columns: 25% 75%;
    font-size: 75%;
}

.iconmenu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(75px,1fr));
}

.oneicon {
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto-fill, minmax(10px,1fr));
    text-align: center;
    font-family: 'Fira Sans Condensed', sans-serif;
    color:blue;
}

.jtitle{
    margin-left: 5px;
    font-family: 'Fira Sans Condensed', sans-serif;
    color:blue;
    font-size:100%;
}

.footer {
    grid-area: footer;
}
/* main component */
.wrapper {
    flex:1;
    width: 100%;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 80px 2px 79.5% 10%;
    grid-template-areas:
            "header  header"
            "bar bar"
            "sidebar content"
            "footer footer";

    background-color: #eeeeee;
    color: #444;
}

.wrap1 {
    flex:1;
    width: 100%;
    display: grid;
    grid-template-columns: 0% 100%;
    grid-template-rows: 80px 2px 79.5% 10%;
    grid-template-areas:
            "header  header"
            "bar bar"
            "sidebar content"
            "footer footer";

    background-color: #eeeeee;
    color: #444;
}
.bar1 {
    background-color: black;
    width:100%;
}


.box {
    background-color: #ffffff;
    color: #fff;
    font-size: 150%;
}

.header,
.footer {
    display: grid;
    grid-template-columns: 15% 85%;
    background-color: #eeeeee;
}

.menuFiller {
    background-color: #07eefa;
}
.menuSpacer {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.socialFooter{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px,1fr));
    font-size: 150%;
    color: blue;


}
/* line item - one row */
.wrap2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px,1fr) minmax(200px,2fr));
    font-family: 'Fira Sans Condensed', sans-serif;
    color:blue;
    font-size:100%;
}

.grow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.box2 {
    background-color: #ffffff;
    padding: 5px;
    font-size: 75%;
}

.box2:nth-child(even) {
    background-color: #31ff08;

}

.istyle {
    heighht:10%;
    width:10%;
}
