.bodycss {
    background-color: #ffffff;
}

.hdr1 {
    font-family: 'Fira Sans Condensed', sans-serif;
    padding-top: 3px;
    padding-bottom: 40px;
    font-size: 30px;
    font-weight: 400;

}
.line2px {
    border-bottom: 2px solid black;
}

.alignleft {
    float: left;
}
.alignright {
    float: right;
}
.introsection {
    padding-top: 3em;
    padding-bottom: 15em;
}
.introTitle {
    padding-top: 1em;
    text-align:center;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
}
.introTitle2 {
    text-align:left;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 50px;
    line-height: 45px;
}

.introbody2 {
    text-align:left;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 20px;
    line-height: 40px;
}

.introbody3 {
    text-align:left;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 20px;
    line-height: 30px;
    width: 50%;
}

.introbody4 {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 20px;
    line-height: 30px;
}
.intro4 {
    overflow: hidden;
    margin-left: 50%;
}



.introBody {
    padding-top: 1em;
    padding-bottom: 2em;
    text-align:center;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: 400;

}


.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}