.bodycss {
    background-color: #ffffff;
}

.hdr1 {
    font-family: 'Fira Sans Condensed', sans-serif;
    padding-top: 3px;
    padding-bottom: 40px;
    font-size: 30px;
    font-weight: 400;

}
.line2px {
    border-bottom: 2px solid black;
}

.alignleft {
    float: left;
    color: blue;
}
.alignright {
    float: right;
}

.logright {
    float: right;
    margin-right: 5px;
}


.introsection {
    padding-top: 3em;
    padding-bottom: 15em;
}
.introTitle {
    padding-top: 1em;
    text-align:center;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
}
.introTitle2 {
    text-align:left;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 50px;
    line-height: 45px;
}

.introbody2 {
    text-align:left;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 20px;
    line-height: 40px;
}

.introbody3 {
    text-align:left;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 20px;
    line-height: 30px;
    width: 50%;
}

.pwlabel {
    display: block;
    text-align: left;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 15px;
    color: blue;
    font-weight: 400;
}

.pwinput {
    font-size:18pt;
    height:30px;
    margin-bottom: 5px;
}

.introbody4 {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 20px;
    line-height: 30px;
}
.intro4 {
    overflow: hidden;
    margin-left: 50%;
}

.loglink1 {
    text-decoration: none;
    color:blue;
}
.loglink1:hover {
    color:red;
}

.tm1 {
    margin-top: 10px;
}



.introBody {
    padding-top: 1em;
    padding-bottom: 2em;
    text-align:center;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: 400;

}


.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.pwentry {
    padding-top: 5em;
    display: grid;
    height: 10vh;
    margin: 0;
    place-items: center center;
}

.frmentry {
    padding-top: 5em;
    display: grid;
    height: 10vh;
    margin: 0;

}



.frmlabel {
    display: block;
    text-align: left;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 15px;
    color: blue;
    font-weight: 400;
}

.frminput {
    font-size:18pt;
    height:30px;
    margin-bottom: 5px;
}
.frminputta {
    font-size:13pt;
    text-align: left;
}


.block label { display: block;
    text-align: left;
}

.table2col {
    width: 100%;
    border: 0;
}

.selinput {
    width: 50%;
    font-size:15pt;
    height:30px;
    margin-bottom: 5px;
}
