html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.header {
    background-color: yellow;
}
.content {
    background: lightblue;
    flex-grow: 1;
}
.line2px {
    border-bottom: 2px solid black;
}

.menutable {
    flex-grow: 1;
    width:100%;
    height:100%;
}

.menu1 {
    background: #c2096a;
    flex-grow: 1;
    width: 20%;
}
.content1 {
    background: #0cc287;
    flex-grow: 1;
    width: 80%;

}