* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodycss {
    background-color: #ffffff;
}

.hdr1 {
    font-family: 'Fira Sans Condensed', sans-serif;
    padding-top: 3px;
    padding-bottom: 15px;
    font-size: 15px;
    font-weight: 400;

}
.hdr1a {
    padding-bottom: 40px;
}
.line2px {
    border-bottom: 2px solid black;
}
.hdr2 {
    font-family: 'Fira Sans Condensed', sans-serif;
    padding-top: 3px;
    padding-bottom: 40px;
    font-size: 15px;
    font-weight: 400;

}
.alignleft {
    float: left;
    color: blue;
}
.alignright {
    float: right;
}
.logdiv {
    width:100%;
    margin-left: 95%;
}

.aligncenter {
    width:100%;
    text-align: center;
}

.logright {
    float: right;
    margin-right: 5px;
}
.nav_icons {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size:12px;
    float: right;
}

.icon_cell {
    padding-left: 15px;
    padding-right: 15px;
}

.introsection {
    padding-bottom: 15em;
}
.introTitle {
    padding-top: 1em;
    text-align:center;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
}
.introTitle2 {
    text-align:left;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 50px;
    line-height: 45px;
}

.introbody2 {
    text-align:left;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 20px;
    line-height: 40px;
}

.introbody3 {
    text-align:left;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 20px;
    line-height: 30px;
    width: 50%;
}

.bigTitleCentered {
    align-content: center;
    padding-top: 1em;
    text-align:center;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
}

.pwlabel {
    display: block;
    text-align: left;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 15px;
    color: blue;
    font-weight: 400;
}

.pwinput {
    font-size:18pt;
    height:30px;
    margin-bottom: 5px;
}

.introbody4 {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 20px;
    line-height: 30px;
}
.intro4 {
    overflow: hidden;
    margin-left: 50%;
}

.loglink1 {
    text-decoration: none;
    color:blue;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.loglink1:hover {
    color:red;
}

.tm1 {
    margin-top: 10px;
}



.introBody {
    padding-top: 1em;
    padding-bottom: 2em;
    text-align:center;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: 400;

}


.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.pwentry {
    padding-top: 5em;
    display: grid;
    height: 10vh;
    margin: 0;
    place-items: center center;
}

.frmentry {
    padding-top: 5em;
    display: grid;
    height: 10vh;
    margin: 0;

}



.frmlabel {
    display: block;
    text-align: left;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 15px;
    color: blue;
    font-weight: 400;
}

.frminput {
    font-size:18pt;
    height:30px;
    margin-bottom: 5px;
}
.frminputta {
    font-size:13pt;
    text-align: left;
}


.block label { display: block;
    text-align: left;
}

.table2col {
    width: 100%;
    border: 0;
}

.selinput {
    width: 50%;
    font-size:15pt;
    height:30px;
    margin-bottom: 5px;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 10%;
    overflow-x: hidden;
    padding-top: 3px;
    margin-left: 5px;

}

.lmenu {
    width:25%;
    height: 100%;
    background-color: #0ba6fa;
    float: left;
}

.contentdiv {
    width:75%;
    height: 100%;
    background-color: #ffffff;
    fload:right;
}

/* Control the left side */
.left {
    left: 0;
}

/* Control the right side */
.right {
    right: 0;

}

/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.row1 {
    margin-left: 2%;
    margin-bottom: 4px;
    text-align: left;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 15px;
    color: blue;
    background-color: #ebebeb;
}

.row1:hover {
    background-color: #d5fdd4;
    color:red;
}
.col1 {
    margin-left: 2px;
    margin-right: 2px;

}

.panelRight1 {
    margin-left: 15px;
}

.panelRightData {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.vtop {
    vertical-align: top;
}

.contentpage {
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
}
.contentsection {
    background-color: #f5c6cb;
    flex-grow: 1;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #0ba6fa; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #efefef;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1030b;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.header {
    margin-left: inherit;
    background-color: white;
}
.content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.line2px {
    border-bottom: 2px solid black;
}
.topalign{
    vertical-align: top;
}
.menutable {
    width:15%;
    background-color:lightgray;
}
.contentarea {
    width:85%;
    background-color: white;
}
.menuitem1 {
    width:100%;
    background-color: lightgrey;
    color:black;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    margin:2px;
}

.lmarg15{
    margin-left: 15%;
}

.menuitem1:hover {
    color: #ff0913;
}


